.DD-center-text{
  text-align: center;
}


.DD-margin-bottom-small{ margin-bottom: 1.5rem; }
.DD-margin-bottom-med{ margin-bottom: 4rem; }
.DD-margin-bottom-large{ margin-bottom: 8rem; }

.DD-margin-top-small{ margin-top: 1.5rem; }
.DD-margin-top-med{ margin-top: 4rem; }
.DD-margin-top-large{ margin-top: 8rem; }